:root {
  --pri:rgba(17, 237, 226, 0.827);
  --sec:#90D1CA;
  --tri1:#129990;
  --tri2:#096B68;
}

@font-face {
  font-family: light;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: regular;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./AeonikTRIAL-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #096B68 0%, rgba(17, 237, 226, 0.827) 100%);
  font-family: light;
}

#main1 {
  height: 100%;
  width: 100%;
  display: flex;
}
#main1 .nav {
  border-radius: 10px;
  height: 100%;
  width: 15%;
  border: 1px solid var(--tri1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#main1 .nav h1 {
  padding-top: 20px;
  padding-left: 60px;
}
#main1 .nav .ele {
  border: 1px solid var(--tri1);
  border-radius: 10px;
  margin-left: 10%;
  padding: 10px 30px;
  width: 80%;
  height: 7%;
  display: flex;
  text-align: center;
}
#main1 .element {
  width: 85%;
  display: flex;
  flex-direction: column;
}
#main1 .element #dash {
  margin: 5px 15px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  border-radius: 10px;
  border: 1px solid var(--tri1);
}
#main1 .element #dash #child1 {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main1 .element #dash #child1 h1 {
  font-size: 40px;
}
#main1 .element #dash #child2 {
  padding: 0px 15px;
  gap: 35px;
  display: flex;
  align-items: center;
}
#main1 .element #dash #child2 i {
  font-size: 20px;
}
#main1 .element #dash #child2 .profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main1 .element #body {
  border: 1px solid var(--tri1);
  border-radius: 10px;
  flex: 1;
  margin: 5px 15px;
  padding: 0px 20px;
  padding: 10px 10px;
  gap: 10px;
  display: grid;
  grid-template-areas: "a a b" "c d e";
}
#main1 .element #body > * {
  border-radius: 20px;
  border: 3px solid var(--tri1);
}
#main1 .element .elem {
  transition: all 0.5s ease;
}
#main1 .element .elem:active {
  scale: 0.97;
}
#main1 .element .part1.elem {
  grid-area: a;
  padding: 15px 15px;
  position: relative;
}
#main1 .element .part1.elem h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}
#main1 .element .part1.elem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: inherit;
  opacity: 1;
}
#main1 .element .part2.elem {
  grid-area: b;
  padding: 15px 15px;
  position: relative;
  overflow: hidden;
}
#main1 .element .part2.elem h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}
#main1 .element .part2.elem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
#main1 .element .part3.elem {
  grid-area: c;
  padding: 15px 15px;
  position: relative;
}
#main1 .element .part3.elem h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}
#main1 .element .part3.elem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
#main1 .element .part4.elem {
  grid-area: d;
  padding: 15px 15px;
  position: relative;
}
#main1 .element .part4.elem h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}
#main1 .element .part4.elem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
#main1 .element .part5.elem {
  grid-area: e;
  padding: 15px 15px;
  position: relative;
}
#main1 .element .part5.elem h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}
#main1 .element .part5.elem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: inherit;
}

#main2 {
  width: 100%;
  position: relative;
}
#main2 .forElem {
  height: 100vh;
  width: 100%;
  font-family: regular;
  font-size: 15px;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  position: relative;
}
#main2 .forElem .back {
  position: absolute;
  right: 2.5%;
  top: 5%;
  border-radius: 20px;
  font-size: 23px;
  padding: 5px 10px;
  background-color: var(--sec);
  border: solid 2px var(--tri1);
}
#main2 .forElem .back:active {
  scale: 0.97;
}
#main2 .forElem .task-container {
  width: 100%;
  height: 90%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--tri1);
  display: flex;
  justify-content: space-between;
}
#main2 .forElem .task-container .addTask {
  height: 100%;
  width: 32%;
  background-color: var(--sec);
  border-radius: 15px;
}
#main2 .forElem .task-container .addTask form {
  gap: 15px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
#main2 .forElem .task-container .addTask form input {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  font-family: regular;
  background-color: var(--tri1);
  outline: none;
}
#main2 .forElem .task-container .addTask form textarea {
  width: 100%;
  height: 45vh;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  font-family: regular;
  background-color: var(--tri1);
  outline: none;
}
#main2 .forElem .task-container .addTask form button {
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--tri2);
  font-family: bold;
  font-weight: 700;
  transition: all 0.3s ease;
}
#main2 .forElem .task-container .addTask form button:active {
  scale: 0.97;
}
#main2 .forElem .task-container .allTask {
  height: 100%;
  width: 65%;
  background-color: var(--sec);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
#main2 .forElem .task-container .allTask .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--tri1);
  padding: 15px 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  gap: 10px;
}
#main2 .forElem .task-container .allTask .task h3 {
  font-size: 22px;
}
#main2 .forElem .task-container .allTask .task button {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--tri2);
  border: none;
}
#main2 .forElem .task-container .allTask .task button:active {
  scale: 0.97;
}
#main2 .forElem .goals-container {
  width: 100%;
  height: 90%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--tri1);
  background-color: rgb(179, 17, 220);
}
#main2 .forElem .motivation-container {
  width: 90%;
  height: 40%;
  border-radius: 30px;
  border: 2px solid var(--tri1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#main2 .forElem .motivation-container .motivation-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--sec);
  border-radius: 30px;
  padding: 20px;
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation1 {
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  background-color: #98cef7;
  background: linear-gradient(90deg, #096B68 0%, rgba(17, 237, 226, 0.827) 100%);
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation1 h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  color: var(--tri2);
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation2 {
  margin-top: 10px;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  background-color: var(--tri2);
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation2 h1 {
  font-size: 28px;
  opacity: 0.8;
  text-align: center;
  color: black;
  font-family: light;
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  padding: 17px 10px;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  background: white;
}
#main2 .forElem .motivation-container .motivation-wrapper .motivation3 h2 {
  font-size: 20px;
  text-align: right;
  font-weight: 700;
  color: var(--tri2);
}
#main2 .forElem .motivation-container::after {
  content: "";
  width: 100%;
  height: 100%;
  scale: 1.6;
  border-radius: 30px;
  background-color: #f83d49;
  position: absolute;
  z-index: 8;
  filter: blur(100px);
}
#main2 .forElem .daily-planner {
  width: 100%;
  height: 90%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--tri1);
  background-color: var(--tri1);
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 20px;
}
#main2 .forElem .daily-planner .daily-planner-time {
  height: 12vh;
  background-color: var(--tri2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 49%;
  margin-bottom: 10px;
}
#main2 .forElem .daily-planner .daily-planner-time p {
  font-size: 18px;
  position: absolute;
  top: 2%;
  left: 1%;
  color: var(--sec);
}
#main2 .forElem .daily-planner .daily-planner-time input {
  height: 90%;
  width: 100%;
  padding: 1px 10px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--tri2);
}
#main2 .forElem .daily-planner .daily-planner-time input:focus {
  background-color: white;
}
#main2 .forElem .pomo-container {
  width: 100%;
  height: 90%;
  margin-top: 15px;
  position: relative;
  border-radius: 10px;
}
#main2 .forElem .pomo-container .workStatus {
  padding: 20px 25px;
  background-color: var(--tri2);
  border-radius: 17px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
#main2 .forElem .pomo-container .pomo-timer {
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px var(--tri2);
}
#main2 .forElem .pomo-container .pomo-timer h1 {
  font-size: 140px;
  letter-spacing: 0px;
  text-align: center;
}
#main2 .forElem .pomo-container .pomo-timer button {
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 5px 0px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--sec);
  border: none;
  box-shadow: 2px 2px 0px black;
  transition: all ease 0.025s;
  font-weight: 700;
}
#main2 .forElem .pomo-container .pomo-timer button:active {
  scale: 0.97;
  box-shadow: 0px 0px 0px black;
}
#main2 .forElem #pomo {
  font-size: 60px;
}/*# sourceMappingURL=style.css.map */