:root{
    --pri:rgba(17, 237, 226, 0.827);
    --sec:#90D1CA;
    --tri1:#129990;
    --tri2:#096B68;
}


@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
    // background-color: var(--pri);
    background: linear-gradient(90deg, #096B68 0%, rgba(17, 237, 226, 0.827) 100%);

    font-family: light;
    // overflow: hidden;
}

#main1{
    height: 100%;
    width: 100%; 
    display: flex;
        .nav{
        border-radius: 10px;
        height: 100%;
        width: 15%;  
        border : 1px solid var(--tri1);
        // background-color: var(--sec);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

        h1{
            padding-top: 20px;
            padding-left: 60px;
        }
        
        .ele{
            border : 1px solid var(--tri1);
            border-radius: 10px;
            margin-left: 10%;
            padding: 10px 30px;
            width: 80%;
            height: 7%;
            // background-color: var(--tri1);
            display: flex;
            text-align: center;
        }

    }

    .element{
        width: 85%;
        display: flex;
        flex-direction: column;
        #dash{
            margin: 5px 15px;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15%;
            // background-color: red;
            border-radius: 10px;
            border : 1px solid var(--tri1);

            #child1{
                
                padding: 0px 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                // background-color: green;

                h1{
                    font-size: 40px;
                }
            }
            #child2{
                i{
                    font-size: 20px;
                }
                padding: 0px 15px;
                gap : 35px;
                // background-color: green;
                display: flex;
                align-items: center;
                .profile{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        #body
        {
            
            border : 1px solid var(--tri1);
            border-radius: 10px;
            flex: 1;
            margin: 5px 15px;
            padding: 0px 20px;
            // background-color: yellow;
            padding: 10px 10px;
            gap: 10px;
            
            > * {
                border-radius: 20px;
                border : 3px solid var(--tri1); 
                
            }
            display: grid;
            grid-template-areas: 
            "a a b"
            "c d e";
        }
        .elem{
            transition: all 0.5s ease;
                
        }
        .elem:active{
            scale: 0.97;
        }   
        .part1.elem
        {
            grid-area: a;
            padding: 15px 15px;
            
            position: relative;
            h1 {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 1;
            }
            img 
            {   
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;          
                height: 100%;        
                object-fit:fill;   
                border-radius: inherit;
                opacity: 1;
                
            }
        }
        .part2.elem
        {
            grid-area: b; 
            padding: 15px 15px; 
            position: relative;
            overflow: hidden;
            h1 {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 1;
            }
            img 
            {   
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;          
                height: 100%;        
                object-fit: cover;   
                border-radius: inherit;
                
            }   
        }
        .part3.elem
        {
            grid-area: c;
            padding: 15px 15px;       
            position: relative;
            h1 {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 1;
            }
            img 
            {   
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;          
                height: 100%;        
                object-fit: cover;   
                border-radius: inherit;
                
            }          
        }
        .part4.elem
        {
            grid-area: d; 
            padding: 15px 15px;      
            position: relative;
            h1 {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 1;
            }
            img 
            {   
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;          
                height: 100%;        
                object-fit: cover;   
                border-radius: inherit;
                
            }             
        }
        .part5.elem
        {
            grid-area: e; 
            padding: 15px 15px;
            position: relative;
            h1 {
                position: absolute;
                bottom: 10px;
                right: 15px;
                z-index: 1;
            }
            img 
            {   
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;          
                height: 100%;        
                object-fit:fill;   
                border-radius: inherit;
                
            }
        }
    }
        
    }

#main2{
    width: 100%;
    position: relative;

    .forElem{
        height: 100vh;
        width: 100%;
        font-family: regular;
        font-size: 15px;
        padding: 40px;
        display: none;
        position: absolute;
        top: 0; left: 0;
        position: relative;
        // background-color: yellow;

        .back{
            position: absolute;
            right: 2.5%;
            top: 5%;
            border-radius: 20px;
            font-size: 23px;
            padding: 5px 10px;
            background-color: var(--sec);
            border: solid 2px var(--tri1);
        }
        .back:active{
            scale: 0.97;
        }

        .task-container  {
            width: 100%;
            height: 90%;
            margin-top: 40px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--tri1);
            // background-color: yellow;
            display: flex;
            justify-content: space-between;


            .addTask{
                height: 100%;
                width: 32%;
                background-color: var(--sec);
                border-radius: 15px;
                form{
                    gap: 15px;
                    padding: 30px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction:column;
                    input{
                        width: 100%;
                        padding: 10px;
                        font-size: 25px;
                        border-radius: 10px;
                        border: none;
                        font-family: regular;
                        // text-align: center;
                        background-color: var(--tri1);
                        outline: none;
                        
                    }
                    textarea{
                        width: 100%;
                        height: 45vh;
                        padding: 10px;
                        font-size: 25px;
                        border-radius: 10px;
                        border: none;
                        font-family: regular;
                        // text-align: center;
                        background-color: var(--tri1);
                        outline: none;
                    }
                    button{
                        font-size: 25px;
                        padding: 10px;
                        border-radius: 10px;
                        border: none;
                        background-color: var(--tri2);
                        font-family: bold;
                        font-weight: 700;
                        transition: all 0.3s ease;
                    }

                    button:active{
                        scale: 0.97;
                    }
                }
            }
            .allTask{
                height: 100%;
                width: 65%;
                background-color: var(--sec);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 30px;
                overflow: auto;

                .task{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    background-color:var(--tri1);
                    padding: 15px 20px;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    gap: 10px;

                    h3{
                        font-size: 22px;
                    }
                    button{
                        font-size: 20px;
                        padding: 10px;
                        border-radius: 20px;
                        background-color: var(--tri2);
                        border: none;
                    }
                    button:active{
                        scale: 0.97;
                    }

                }
            }
        }
        .goals-container{
            width: 100%;
            height: 90%;
            margin-top: 40px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--tri1);
            background-color: rgb(179, 17, 220);
        }
        .motivation-container{
            width: 90%;
            height: 40%;
            border-radius: 30px;
            border: 2px solid var(--tri1);
            // background-color: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;

            .motivation-wrapper{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-evenly;
                z-index: 10;
                position: relative;
                width:100%;
                height: 100%;
                background-color: var(--sec);
                border-radius: 30px;
                padding: 20px;
                
                
                .motivation1{
                    padding: 10px;
                    border-radius: 30px;
                    width: 100%;
                    background-color: #98cef7;
                    background: linear-gradient(90deg, #096B68 0%, rgba(17, 237, 226, 0.827) 100%);
                    h2{
                        font-size: 30px;
                        text-align: center;
                        font-weight: 500;
                        color: var(--tri2);
                    }
                }
                .motivation2{
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 30px;
                    width: 100%;
                    background-color: var(--tri2);
                    h1{
                        font-size: 28px;
                        opacity: 0.8;
                        text-align: center;
                        color: black;
                        font-family: light;
                    }
                }
                .motivation3{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-top: 10px;
                    padding: 17px 10px;
                    border-radius: 30px;
                    
                    width:fit-content;
                      
                    background: white; 
                    h2{
                        font-size: 20px;
                        text-align: right;
                        font-weight: 700;
                        color: var(--tri2);
                    }
                }
            }
        }
        .motivation-container::after{
            content: '';
            width:100%;
            height: 100%;
            scale: 1.6;
            border-radius: 30px;
            
            // background-color: #3DA9FC;
            position: absolute;
            z-index: 8;
            filter: blur(100px);
        }
        .daily-planner{
            width: 100%;
            height: 90%;
            margin-top: 40px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--tri1);
            background-color: var(--tri1);
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            gap: 20px;

            .daily-planner-time{
                height: 12vh;
                background-color: var(--tri2);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content:flex-end;
                position: relative;
                // padding:  1px 0px;
                padding-top: 25px;
                padding-right: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                width: 49%;
                margin-bottom: 10px;
                p{
                    font-size: 18px;
                    position: absolute;
                    top: 2%;
                    left: 1%;
                    color: var(--sec);
                }
                input{
                    height: 90%;
                    width:  100%;
                    padding: 1px 10px;
                    font-size: 25px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--tri2);
                }
                input:focus{
                    background-color: white;
                }
            }
        }
        .pomo-container{
            width: 100%;
            height: 90%;
            margin-top: 40px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--tri1);
            background-color: rgb(216, 43, 24);
        }

    }
}




